{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}

<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">About</span>
        <h2 class="heading">Who Am I</h2>
    </div>
</div>
<div class = "container-fluid">
    <div class="row">
        <div class = "container-text">
            <p> {{ context.about }} </p>
        </div>
    </div>
</div>
<hr>
<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Skill</span>
        <h2 class="heading">What I Do</h2>
    </div>
</div>
<div class = "container-fluid">

    <div class="row progress-row">
        {% for skill in context.skills.values() %}
        <div class="col-xl-6 floatLeft">
            <div class="progress-box">
                <div class="flex-box">
                    <span class="skill-name"> {{ skill.name }} <i class="{{ skill.icon }}"></i> </span>
                    <span class="skill-percent"> {{skill.percentage }}</span>
                    
                </div>
                <div class="progress-full"> 
                    <div class="progress-active" style="background-color: {{ skill.color }}">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
</div>
<!-- <hr>
<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Testimonials</span>
        <h2 class="heading">What people think</h2>
    </div>
</div> -->
<!-- <div class = "container-fluid">
    <div class="row quote-row">
        <div class = col-xl-9>
            <div class = "row">
                {% for quote in quotes %}
                    <div class = "col-xl-4">
                        <div class = "quote-box" style = "border-bottom: 3px solid; border-color: {{ quote.quote_color }};">
                            <span> " </span>
                            <div class = "quote-desc">
                                <p>{{ quote.quote_text }}</p>
                            </div>
                            <div class = "row quote">
                                <div class = "quote-from">
                                    <img src = "{{ quote.quote_author_image.url }}">
                                </div>
                                <div class = "quote-meta">
                                    <p> {{ quote.quote_author }}<br>
                                        {{ quote.quote_author_company }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div> -->
{% endblock %}