{% extends 'base.html' %}

{% block title %} Experience {% endblock %}

{% block content %}

<div class = "row">
    <div class = "col-sm-12">
        <span class="heading-meta">Experience</span>
        <h2 class="heading">Work Experience</h2>
    </div>
</div>
<div class = "container-fluid timeline-container accordion">
    {% for experience in context.experience.values() %}
    <div class="row">
        <div class=" timeline-circle timeline-badge-{{ loop.index }} fadeInUp-{{ loop.index }}">
            <i class="timeline-icon fas fa-briefcase"></i>
        </div>
        <div class = "timeline-box experience fadeInRight-{{ loop.index }}">
            <h4 data-toggle="collapse" data-target="#collapse-{{ loop.index }}" aria-expanded="true" aria-controls="collapse-{{ loop.index }}">
               {{ experience.employer_name }} <span> {{ experience.employment_duration }} </span>
            </h4>
            <h3> {{ experience.job_title }} </h3>
            <p id="collapse-{{ loop.index }}" class="collapse " aria-labelledby="headingOne">
                {{ experience.job_description }}
            </p> 
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}