<nav id="sidebar" class = "active">

    <div class="sidebar-header">
        <img class="rounded-circle profile-img" src="/static/images/jraychev_profile_image.png">
<a class="name" href="/"> Jordan Raychev </a>
<p class="profession"> Software Engineer </p>
        <div class="row">
            <ul class="list-unstyled social-sidebar">
            <li><a target="_blank" href="https://github.com/jpraychev"> <i class="bi bi-github fa-lg"></i> </a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/jordan-raychev-5a69a691/"> <i class="bi bi-linkedin fa-lg"></i> </a></li>
            <li><a target="_blank" href="https://www.facebook.com/JordanRaychev/"> <i class="bi bi-facebook fa-lg"></i> </a></li>
            <li><a target="_blank" href="https://twitter.com/jpraychev"> <i class="bi bi-twitter fa-lg"></i> </a></li>
            </ul>
        </div>
    </div>
    <hr class="sidebar-hr">
    <ul class="list-unstyled">
        <li><a class="" href="/" id="home"> Home </a></li>
        <li><a class="" href="/services/" id="services"> Services </a></li>
        <li><a class="" href="/experience/" id="experience"> Experience </a></li>
        <li><a class="" href="/projects/" id="projects"> Projects </a></li>
        <li><a class="" href="/blog/" id="blog"> Blog</a></li>
        <li><a class="" href="/contact/" id="contact"> Contact</a></li>
    </ul>
    <hr class="sidebar-hr">
    <div class="copyright text-center">
        <p>
            © {{ today }} Copyright. <span>All rights reserved.</span>
            </br> Jordan Raychev
        </p>
    </div>

</nav>